{% extends base_twig %}
{% block cover %}
{% endblock cover %}
{% block content %}
<div class="col-md-8 post">
<h1>OMG! What did you do?</h1>
<p class="primary-text">OOPS sorry, 404 ERROR. Someone is going to get fired over this :) ...</p>
</div>
{% endblock %}