{% extends base_twig %}
{% block cover %}
{% endblock cover %}
{% block content %}
<div class="col-md-8 post">
<h1>What did you do, you BROKE it...</h1>
<p class="primary-text">404 Eror, no problem we will look into it</p>
</div>
{% endblock %}