{% extends base_twig %}
{% block content %}
<div class="col-md-8 post">
	{% for post in posts %}
		{% include ['content-'~post.format_post~'.twig', 'content.twig'] %}
	{% endfor %}
</div>
{% endblock content %}