{% extends base_twig %}
{% block content %}
<article  {{ function('post_class') }} id="post-{{post.ID}}">
    <section class="article-content">
        <h1 class="article-h1">{{post.post_title}}</h1>

        <div class="article-body">
					{{post.get_content}}
            </div>
        </section>

    </article>
{% endblock %}