{% extends "base.twig" %}
{% block styles %}
{{ parent() }}
<!-- add any mobile styles here -->
{% endblock styles %}
{% block content %}
<div class="col-md-12 post">
{% for post in posts %}
		{% include ['content-'~post.format_post~'.twig', 'content.twig'] %}
	{% endfor %}
</div>
{% endblock content %}
{% block sidebar %}
<!-- remove the sidebar on our mobile -->
{% endblock sidebar %}

{% block scripts %}
{{ parent() }}
<!-- add any mobile scripts here -->
{% endblock scripts %}